._paperLeft {
  height: 100%;
  width: 25%;
  z-index: 3;
}

._paperRight {
  height: 100%;
  width: 35%;
  z-index: 3;
}

._paperMiddle {
  height: 100%;
  width: 40%;
  z-index: 3;
}

._print {
  font-family: Sabon;
  height: calc(100% - 50px);
}

._audioOutter {
  z-index: 5;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
._audioInner {
  position: relative;
  text-align: center;
}

._audio {
  height: 40px;
}