._paperLeft, ._paperRight {
  height: 100%;
  width: 30%;
  z-index: 3;
}

._paperMiddle {
  height: 100%;
  width: 40%;
  z-index: 3;
}

._print {
  font-family: Sabon;
  height: calc(100% - 50px);
}