._paperLeft {
  height: 100%;
  width: 25%;
  background-color: burlywood;
  z-index: 3;
}

._paperRight {
  height: 100%;
  width: 35%;
  background-color: cadetblue;
  z-index: 3;
}

._paperMiddle {
  height: 100%;
  width: 40%;
  z-index: 3;
}

._print {
  font-family: Sabon;
  height: calc(100% - 50px);
}